[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
xlrd = "*"
openpyxl = "*"
lxml = "*"
pydotplus = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
